.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    background-color: paleturquoise;

    li {
        list-style: none;
        color: black;
        font-size: 26px;

        .link {
            text-decoration: none;
            color: black;
        }
    }
}
