.loginbtn,
.signupbtn {
    width: 100%;
    background-color: #afedee;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}

.addFavorite {
    border-radius: 8px;
    border: none;
    padding: 5px 5px;
    background-color: gold;
    cursor: pointer;
}

.updateFavorite {
    border-radius: 8px;
    border: none;
    padding: 5px 5px;
    background-color: rgb(255, 174, 0);
    cursor: pointer;
}
