.profile {
    .current {
        border: 1px solid gray;
        border-radius: 8px;
        margin: 0 auto;
        width: 40%;

        .location {
            margin: 0 auto;
            width: 80%;
            display: flex;
            justify-content: space-between;

            p {
                font-size: 20px;
                background-color: rgb(0, 0, 0);
                padding: 5px 10px;
                color: white;
                margin: 0 auto;
            }
        }
    }

    li {
        list-style: none;
        margin-top: 20px;

        .link {
            text-decoration: none;
            background-color: rgb(134, 6, 6);
            color: white;
            padding: 5px 10px;
            border-radius: 8px;
        }
    }
}
